.title-bar {
  height: 80px;
  background-color: purple;
  color: white;
  padding-top: 30px;
  padding-left: 15px;
}

.title-bar a{
  color: white;
  text-decoration: none;
  font-size: 36px;
  display: inline-flex;
  padding-right: 60px;
}

.navbar {
  float: right;
}

.container {
  padding: 1%;
}

.main-content {
  width: 78%;
  float: left;
}

.sidebar {
  width: 19%;
  border: 1px solid purple;
  float: left;
  padding: 15px;
}

.pagination {
  list-style-type: none;
  display: inline-flex;
  padding-left: 30%;
}

.pagination li{
  padding: 0 5px;
}
