<h3>About Me</h3>

<P>
  Howdy! I'm Tristan. I'm a computer science: information systems major and a new media minor at UNC Asheville. This is where I post all of the coding notes and blurbs I write for my internship at Herrmann International. Take a look around!
</p>

<p><u>Most Recent Posts</u></p>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<div>
  <ul class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <li><a href="{{ site.url }}">Prev</a></li>
      {% else %}
      <li><a href="{{ site.url }}/page{{ paginator.previous_page }}">Prev</a></li>
      {% endif %}
    {% else %}
    <li>Prev</li>
    {% endif %}
    {% if paginator.page == 1 %}
    <li>1</li>
    {% else %}
    <li><a href="{{ site.url }}">1</a></li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li>{{ count }}</li>
      {% else %}
      <li><a href="{{ site.url }}/page{{ count }}">{{ count }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <li><a href="{{ site.url }}/page{{ paginator.next_page }}">Next</a></li>
    {% else %}
    <li>Next</li>
    {% endif %}
  </ul>
</div>
